<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Regular Bold | 메인페이지</title>
        <link rel="stylesheet" href="/css/css.css"/>
        <link rel="stylesheet" href="/css/background2.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">

      <div class="nav_logo">
        <i class="fa-solid fa-star"></i>
        <a href="../main">Regular<span>   Bold</span></a>
      </div>

      <ul class="nav_menu">
        <li><a href="boardlist">Board</a></li>
        <li><a href="flealist">Flea Market</a></li>
        <li><a href="#">Introduce</a></li>
        <li><a href="login">Login</a></li>
      </ul>
</nav>

<div class="font" style="color: white; text-align: center;" >

    준비중
</div>

</body>
</html>