<!DOCTYPE html>

<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regular Bold | 플리마켓 수정</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/css.css"/>
</head>
<body>

<nav class="navbar">
    <div class="nav_logo">
        <i class="fa-solid fa-star"></i>
        <a href="../main">Regular<span>   Bold</span></a>
    </div>

    <ul class="nav_menu">
        <li><a href="main">Main</a></li>
        <li><a href="#">Photo</a></li>
        <li><a href="../../boardlist">Board</a></li>
        <li><a href="../../flealist">Flea Market</a></li>
        <li><a href="#">Introduce</a></li>
        <li><a href="../../login">Login</a></li>
    </ul>
</nav>

<div class="layout">
    <div class="board_wrap">
        <div class="board_title">
            <strong>Regular Bold</strong>
            <p>Regular Bold 플리마켓 수정</p>
        </div>
        <form th:action="@{/flea/update/{bno}(bno = ${flea.bno})}" method="post" class="board_write_wrap">

            <div class="board_write">

                <div class="title">

                    <dt>제목</dt>
                    <input type="text" name="title" placeholder="제목 입력" th:value="${flea.title}">

                </div>

                <div class="cont">

                    <textarea name="content" placeholder="내용 입력" th:text="${flea.content}"></textarea>

                </div>

            </div>

            <div class="bt_wrap">

                <button type="submit" class="on"
                        style="display:inline-block; min-width: 80px; margin-left: 10px; padding: 10px;
                                border: 1px solid #000; font-size: 1.4rem; background: #000; color: #fff; width: 100px;">수정</button>

                <a href="../../flealist">취소</a>
            </div>
        </form>
    </div>
</div>
</body>
</html>

