<!--<!DOCTYPE html>-->

<!--<html lang="ko" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Regular Bold | 플리마켓</title>-->
<!--    <link rel="stylesheet" href="/css/css.css"/>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">-->
<!--&lt;!&ndash;    <img src="/images/logo.png"/>&ndash;&gt;-->
<!--</head>-->
<!--<body>-->

<!--<nav class="navbar">-->
<!--    <div class="nav_logo">-->
<!--        <i class="fa-solid fa-star"></i>-->
<!--        <a href="../main">Regular<span>   Bold</span></a>-->
<!--    </div>-->

<!--    <ul class="nav_menu">-->
<!--        <li><a href="main">Main</a></li>-->

<!--        <li><a href="boardlist">Board</a></li>-->
<!--        <li><a href="flealist">Flea Market</a></li>-->
<!--        <li><a href="../introduce">Introduce</a></li>-->
<!--        <li><a href="login">Login</a></li>-->
<!--    </ul>-->
<!--</nav>-->

<!--<div class="font">-->
<!--    플리마켓-->
<!--</div>-->

<!--<div class="board_wrap">-->
<!--    <div class="logo.png"></div>-->
<!--    <div class="board_title">-->

<!--        <strong>Regular Bold</strong>-->
<!--        <p>레귤러볼드 플리마켓</p>-->

<!--        <form th:action="@{/flea/list}" method="get">-->
<!--            <button type="submit" style="width:70px; height:30px; float:right";>검색</button>-->
<!--            <input type="text" style="width:33%; height:26px; float:right;" name="searchKeyword">-->
<!--        </form>-->

<!--    </div>-->

<!--    <div class="board_list_wrap">-->
<!--        <div class="board_list">-->
<!--            <div class="top">-->
<!--                <div class="num">번호</div>-->
<!--                <div class="title">제목</div>-->
<!--                <div class="writer">글쓴이</div>-->
<!--                <div class="date">작성일</div>-->
<!--                <div class="count">조회</div>-->
<!--            </div>-->
<!--            &lt;!&ndash; 게시글 리스트 &ndash;&gt;-->
<!--            <div th:each="flea : ${list}">-->

<!--                <div class="num" th:text="${flea.bno}"></div>-->

<!--                <div class="title"><a th:href="@{/fleaview(bno=${flea.bno})}" th:text="${flea.title}"></a></div>-->

<!--                <div class="writer" th:text="${flea.writer}"></div>-->

<!--                <div class="date" th:text="${#dates.format(flea.date, 'yyyy-MM-dd')}"></div>-->
<!--&lt;!&ndash;                <div class="date" th:if="${flea.date != null}" th:text="${#dates.format(flea.date, 'yyyy-MM-dd')}"></div>&ndash;&gt;-->

<!--                <div class="count" th:text="${flea.count}"></div>-->

<!--            </div>-->
<!--        </div>-->

<!--        <div class="board_page">-->
<!--            <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">-->
<!--                <a th:if="${page != nowPage}"-->
<!--                   th:href="@{/boardlist(page=${page -1}, searchKeyword=${param.searchKeyword})}"-->
<!--                   th:text="${page}" class="num"></a>-->
<!--                <a th:if="${page == nowPage}"-->
<!--                   th:text="${page}" class="num on"></a>-->
<!--            </th:block>-->
<!--        </div>-->

<!--        <div class="bt_wrap">-->
<!--            <a href="/flea/write" class="on">등록</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Regular Bold | Flea Market</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="main">Regular Bold</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../boardlist">자유게시판</a></li>
                        <li><a class="dropdown-item" href="../board/write">자유게시판 글쓰기</a></li>
                        <li><a class="dropdown-item" href="../flealist">플리마켓</a></li>
                        <li><a class="dropdown-item" href="../flea/write">플리마켓 글쓰기</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-pencil"></i>
                    글쓰기
                </button>
                <button class="btn btn-outline-dark"><a href="../flea/write"></a>
                    <i class="bi bi-people"></i>
                    Login
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Regular Bold</h1>
            <p class="lead fw-normal text-white-50 mb-0">RB FleaMarket</p>
        </div>
    </div>
</header>
<!-- Section-->
<div th:each="flea : ${list}">
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/배경화면.png" alt="잠시후 이용해주세요."/>
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <div class="fw-bolder" th:text="${flea.title}"></div>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{/fleaview(bno=${flea.bno})}">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/space.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/MT.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/logo.png" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/coding.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/image4.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/image1.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="/images/image2.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Product</h5>
                            <!-- Product price-->
                            50.000원
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">글 상세보기</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SUNG YOON LEE</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
