<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 상세 페이지</title>
    <link rel="stylesheet" href="/css/css.css">
</head>
<body>

<nav class="navbar">
    <div class="nav_logo">
        <i class="fa-solid fa-star"></i>
        <a href="../main">Regular<span>   Bold</span></a>
    </div>

    <ul class="nav_menu">
        <li><a href="main">Main</a></li>
        <li><a href="#">Photo</a></li>
        <li><a href="boardlist">Board</a></li>
        <li><a href="flealist">Flea Market</a></li>
        <li><a href="#">Introduce</a></li>
        <li><a href="login">Login</a></li>
    </ul>
</nav>

<div class="board_wrap">
    <div class="board_title">
        <strong>Regular Bold</strong>
        <p>Regular Bold 플리마켓</p>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                <h1 th:text="${flea.title}"></h1>
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>     <!-- boardNum 추가 -->
                    <dd>1</dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd>이름</dd>    <!-- userNickname 추가 -->
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd>2023.3.23</dd>  <!-- regDate 추가 -->
                </dl>
                <dl>
                    <dt>조회</dt>     <!-- viewCount 추가 -->
                    <dd>33</dd>
                </dl>
            </div>
            <div class="cont">
                <p th:text="${flea.content}"></p>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="flealist" class="on">목록</a>
            <a th:href="@{/flea/modify/{bno}(bno = ${flea.bno})}">수정</a>
            <a th:href="@{/flea/delete(bno=${flea.bno})}">삭제</a>
            <a th:href="@{${flea.filepath}}">다운받기</a>
        </div>
    </div>
</div>
</body>
</html>