<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Regular Bold | Flea Market</title>
<!--    <link rel="stylesheet" href="/css/css.css">-->
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="main">Regular Bold</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Menu</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="../boardlist">자유게시판</a></li>
                        <li><a class="dropdown-item" href="../board/write">자유게시판 글쓰기</a></li>
                        <li><a class="dropdown-item" href="../flealist">플리마켓</a></li>
                        <li><a class="dropdown-item" href="../flea/write">플리마켓 글쓰기</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/flea/list}" method="get">
                <input type="text" style="width:200px; height:37px; float:right;" name="searchKeyword">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-emoji-smile"></i>
                    검색
                </button>
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi bi-pencil"></i>
                    등록
                </button>
                <button class="btn btn-outline-dark"><a href="../flea/write"></a>
                    <i class="bi bi-people"></i>
                    Login
                </button>
            </form>
        </div>
    </div>
</nav>
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Regular Bold</h1>
            <p class="lead fw-normal text-white-50 mb-0">RB FleaMarket</p>
        </div>
    </div>
</header>

<div class="board_wrap">
    <div class="board_title">
        <strong>Regular Bold</strong>
        <p>Regular Bold 플리마켓</p>
    </div>
    <div class="board_view_wrap">
        <div class="board_view">
            <div class="title">
                <h1 th:text="${flea.title}"></h1>
            </div>
            <div class="info">
                <dl>
                    <dt>번호</dt>     <!-- boardNum 추가 -->
                    <dd th:text="${flea.bno}"></dd>
                </dl>
                <dl>
                    <dt>글쓴이</dt>
                    <dd th:text="${flea.writer}"></dd>    <!-- userNickname 추가 -->
                </dl>
                <dl>
                    <dt>작성일</dt>
                    <dd th:text="${flea.date}"></dd>  <!-- regDate 추가 -->
                </dl>
                <dl>
                    <dt>조회</dt>     <!-- viewCount 추가 -->
                    <dd th:text="${flea.count}"></dd>
                </dl>
            </div>
            <div class="cont">
                <p th:text="${flea.content}"></p>
            </div>
        </div>
        <div class="bt_wrap">
            <a href="flealist" class="on">목록</a>
            <a th:href="@{/flea/modify/{bno}(bno = ${flea.bno})}">수정</a>
            <a th:href="@{/flea/delete(bno=${flea.bno})}">삭제</a>
<!--            <a th:href="@{${flea.filepath}}">다운받기</a>-->
        </div>
    </div>
</div>
</body>
</html>