<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Document</title>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">-->
<!--    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>-->
<!--    <link rel="stylesheet" href="/css/login.css"/>-->
<!--</head>-->
<!--<body>-->
<!--<div class="wrap">-->
<!--    <div class="login">-->
<!--        <h2>Log-in</h2>-->
<!--        <div class="login_sns">-->
<!--            <li><a href=""><i class="fab fa-instagram"></i></a></li>-->
<!--            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>-->
<!--            <li><a href=""><i class="fab fa-twitter"></i></a></li>-->
<!--        </div>-->
<!--        <div class="login_id">-->
<!--            <h4>E-mail</h4>-->
<!--            <input type="email" name="" id="" placeholder="Email">-->
<!--        </div>-->
<!--        <div class="login_pw">-->
<!--            <h4>Password</h4>-->
<!--            <input type="password" name="" id="" placeholder="Password">-->
<!--        </div>-->
<!--        <div class="login_etc">-->
<!--            <div class="checkbox">-->
<!--                <input type="checkbox" name="" id=""> Remember Me?-->
<!--            </div>-->
<!--            <div class="forgot_pw">-->
<!--                <a href="">Forgot Password?</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="submit">-->
<!--            <input type="submit" value="submit">-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
        <div>
            <h4>회원가입</h4>
        </div>
    </div>
    <form th:action="@{/signup}" th:object="${userCreateForm}" method="post">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div class="mb-3">
            <label for="username" id="username" class="form-label">사용자ID</label>
            <input type="text" th:field="*{username}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password1" id="password1" class="form-label">비밀번호</label>
            <input type="password" th:field="*{password1}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="password2" id="password2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{password2}" class="form-control">
        </div>

        <div class="mb-3">
            <label for="email" id="email" class="form-label">이메일</label>
            <input type="email" th:field="*{email}" class="form-control">
        </div>

        <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
</div>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="ko" layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>RegularBold | login</title>-->
<!--    <link rel="stylesheet" href="/css/login.css"/>-->
<!--    <link rel="stylesheet" href="/css/css.css"/>-->
<!--    <link rel="preconnect" href="https://fonts.googleapis.com">-->
<!--    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->

<!--<div class="wrap" style="font-size: 25px;">-->
<!--    <div class="font" style="top: 4rem;">-->
<!--        회원가입-->
<!--    </div>-->

<!--    <div class="login">-->
<!--        <h3 class="font" style="font-size: 40px">-->
<!--            <a href="main">Regular Bold</a>-->
<!--        </h3>-->

<!--        <div class="login_id">-->
<!--            <h4>Name</h4>-->
<!--            <input type="text" name="userName" id="username" placeholder="Name">-->
<!--        </div>-->

<!--        <div class="login_id">-->
<!--            <h4>ID</h4>-->
<!--            <input type="text" name="userId" id="id" placeholder="ID">-->
<!--        </div>-->

<!--        <div class="login_pw">-->
<!--            <h4>Password</h4>-->
<!--            <input type="password" name="userPw" id="password" placeholder="Password">-->
<!--        </div>-->

<!--        <div class="submit">-->
<!--            <a href="#"><input type="submit" value="회원가입"></a>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->
